In [61]:
%matplotlib inline
import pandas_datareader.data as web
import datetime as dt

In [62]:
start = dt.datetime(2023, 3, 1)
end = dt.datetime(2023, 3, 11)

df = web.DataReader('GE', 'stooq', start, end)
df

                Open      High       Low     Close    Volume
Date
2023-03-10       NaN       NaN       NaN       NaN       NaN
2023-03-09 -0.021110  0.007856 -0.011235  0.006154  0.547391
2023-03-08 -0.035460 -0.079313 -0.041216 -0.050022 -0.787917
2023-03-07  0.002190  0.001945  0.000349 -0.006783  0.137572
2023-03-06 -0.003680  0.002740  0.004297  0.007756 -0.064684
2023-03-03 -0.008541 -0.008939 -0.015265 -0.007811  0.189810
2023-03-02 -0.026775 -0.014994 -0.020814 -0.007641 -0.111384
2023-03-01  0.012679 -0.004273  0.004465 -0.018432 -0.121029

In [ ]:
df.pct_change()